version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/ClockSystem-main"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
